* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainRed: #e74c3c;

body {
  background-color: $mainWhite;
  font-size: 17.5px;
  color: $mainBlack;
  font-family: "Roboto", sans-serif;
}
