body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    rgba(130, 88, 159,1.0),
    rgba(181, 52, 113,0.6)
  )
}
